<div id="trial-manager-light">
	<h5>{L_AAO_MANAGER_LIGHT}</h5>
	
	<ul>
		<!-- BEGIN trialrow -->
		<li><a href="{U_AAO_ROOT}/editor.php?trial_id={trialrow.AAO_TRIAL_ID}">{trialrow.AAO_TRIAL_TITLE}</a></li>
		<!-- END trialrow -->
	</ul>
	
	<p><a href="{U_AAO_ROOT}/manager.php">{L_AAO_MANAGER_FULL}</a></p>
</div>
