
		<li data-last-responsive="true">
			<a href="{U_AAO_ROOT}" rel="help" title="Ace Attorney Online {L_HOME}" role="menuitem">
				<i class="icon fa-home fa-fw" aria-hidden="true"></i><span>{L_HOME}</span>
			</a>
		</li>
		